.moviesSearchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movieLink {
  color: #1485c8;
  text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
}
